---
import SpanGradient from '../components/spanGradient.astro'
import Layout from '../layouts/Layout.astro'

import { funciones } from '../data/funciones.ts'
---

<Layout title="Funciones | AuditAi" fill1="#4e197a" fill2="#4e197a">
    <main class="text-white md:px-40 py-6">
      <section class="text-center mt-10 px-4 md:px-0">
        <h2 class="text-2xl md:text-5xl font-bold text-white mb-4" transition:name="Funciones">
          Funciones principales
        </h2>
        <p class="text-slate-300 mt-4 max-w-2xl mx-auto">
          AuditAi está diseñado para contadores modernos que buscan automatizar procesos y reducir errores.
          <SpanGradient>Descubrí cómo nuestra plataforma transforma tu forma de trabajar.</SpanGradient>
        </p>

        <!-- GRID DE FUNCIONES -->
        <div class="mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 w-full max-w-6xl mx-auto">
          {funciones.map(({ title, description, icon, slug }) => (
            <a href={`/funciones/${slug}`} class="bg-neutral-900 border border-neutral-800 rounded-2xl p-6 shadow-lg hover:shadow-xl hover:border-blue-600 transition-all">
              <span class="text-4xl mb-4" transition:name={`${title}-${icon}`}>{icon}</span>
              <h3 class="text-xl font-bold text-white mb-2" transition:name={title}>{title}</h3>
              <p class="text-slate-400 text-sm">{description}</p>
            </a>
          ))}
        </div>
      </section>

    </main>
</Layout>
